numpy==1.26.4
huggingface_hub==0.25.2
diffusers==0.28.0
transformers==4.41.2
decord==0.6.0
einops==0.8.0
omegaconf==2.3.0
onnxruntime-gpu==1.18.1
opencv-python-headless==4.10.0.84
imageio[ffmpeg]==2.35.1
accelerate==0.34.2
requests==2.32.3
runpod==1.7.7
